@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alegreya:ital,wght@0,400..900;1,400..900&family=Bebas+Neue&family=Cedarville+Cursive&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

footer {

  display: flex;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  align-items: baseline;
  justify-content: space-between;
  font-family: 'Alegreya';
  font-size: 1em;
  bottom: 0;
}
