.single-article-container{

    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);


}


#single-article-img{

    width: 80%;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
}

.article-body{
    margin: 30px;
}

.comments-container{
    text-align: start;
    background-color: rgb(222, 239, 241);
    padding: 10px;
    margin-top: 20px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
    
}

.content h2{
    font-size: 3rem;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
    flex: 1 1 200px;
}


.author-and-date{

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.voting-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 10px; 
    background-color: rgb(222, 239, 241);
  }
  
  .voting-container p {
    /* Aligns the paragraph to the left (start) */
    font-size: 2rem;
    margin: 0;
    
  }

.voting-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 10px;
    gap: 10px;
    
    
}

.voting-buttons button{
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    background-color: transparent;
    border: none;
    
   
   
}

.voting-buttons button :hover{
    transform: scale(1.2); 
    transition: transform 0.2s ease-in-out;
    

}







