.single-article-container{

    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);

}


#single-article-img{

    width: 80%;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
}

.article-body{
    margin: 30px;
}

.comments-container{
    text-align: start;
    background-color: rgb(222, 239, 241);
    padding: 10px;
    margin-top: 20px;
    
}

.content h2{
    font-size: 3rem;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
    flex: 1 1 200px;
}


.author-and-date{

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.voting-container{

    display: flex;
    align-items: baseline;
    gap: 100px;
    

}

.voting-buttons{
    display: flex;
    justify-content: end;
   
   
}



