.sortby-container{
    display: flex;
    justify-content: end;
    margin: 30px;
    margin-right: 40px;
  
}

@media (max-width: 768px) {
    .sortby-container {
      flex: 1 1 100%; 
      min-height: 50px; 
    }
  }
  
#order{

  background-color: black;
  
}