
  .topics-card {
  
    padding: 10px;
    margin-right: 35px;
    width: 300px;
    border: 2px solid #fbf3f3;
    background-color: #f9f9f9;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
    text-align: center; 
    
  }
  
 
  .topics-card a {
    text-decoration: none;
    color: #000000; 
  }
  

  .topics-card:hover {
    transform: scale(1.05); 
    transition: transform 0.2s ease-in-out;
  }

  .topics-title{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
    padding: 10px; 
  }

  .topics-container{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  
    width: 100%;
    margin: 20px;
  
  }

  .whole-container{
    width: 100vw;
    display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   
  }

 

 


 
  