/* @tailwind base;
@tailwind components;
@tailwind utilities; */


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


.container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}


.header, .main-content, .footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}


img {
  max-width: 100%;
  height: auto;
}


@media (max-width: 768px) {
  .header, .main-content, .footer {
    padding: 10px;
  }
}


@media (max-width: 480px) {
  .header, .main-content, .footer {
    padding: 5px;
  }


  .column {
    width: 100%;
    display: block;
  }
}


h1 {
  font-size: 40px;
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-family:Verdana, Geneva, Tahoma, sans-serif
}



.articles-list{
  padding: 20px;
  margin: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#article-list-img {
  max-width: 100%; 
  height: auto;
}

#article-title{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.articles-container {
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap; 
  margin-right: 100px;
}

#article-card{
  max-width: 600px;
}

#articles-list-buttons{
  background-color:aliceblue;
}

#single-article-container{
  background-color: rgb(196, 208, 236);
  padding: 20px;
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;

}

#single-article-img{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 80%;
}


#massive-cupoftea{
  display: flex;
  justify-content: center;
}

.form{
  display: flex;
}

.header{
  display: flex;
}


#topic-cards{
  display: grid;
  justify-content: center;
  align-items: center;
  background-color:rgb(93, 123, 171);
  border-radius: 100px;
  margin: 1em;
}

#navbar-container{

  background-color: rgb(113, 126, 158);
  display: flex;
  padding: 50px;
  align-items: center;
  width: 100%;
  height: 2em;
}

#logo{
  width: 130px;
  display: flex;
  margin-right: 10px;
  height: 120px;


}

.nav-buttons{
  padding: 20px;
  margin: 20px;
}

#sort-by{
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-card{

  background-color: azure;

}

.loading-teacup{

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  
}

#teacup{

  width: 500px;


}

#error{

  width: 500px;
  background-color: bisque;
  display: flex;

 
}

.sortby-container{

  display: flex;
  justify-content: center;
  align-items: center;
}










